h2 {
    font-family: "Pacifico", cursive;
    margin-top: 4rem;
}

section {
    display: flex;
    justify-content: end;
}

fkl-grid-skeleton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
